@import "gmdjs"
@import "vars"
.article__type
	h1
		font-size: 2em
		color: #000000
		margin: 0
		margin-top: 9px
		margin-bottom: 10px
		br
			+media-md()
				display: none
			+media-sm()
				display: none
			+media-xs()
				display: none
.article__type
	.title_sub
		font-size: 13px
		color: #333
		line-height: 18px
		font-weight: 500
		br
			+media-md()
				display: none
			+media-sm()
				display: none
			+media-xs()
				display: none
.title_sub
	font-size: 13px
	color: #333
	line-height: 18px
	font-weight: 500
	br
		+media-md()
			display: none
		+media-sm()
			display: none
		+media-xs()
			display: none
.articles
	.container
		&__elem
			&--5
				+media-md()
					+col(6)
				+media-sm()
					+col(6)
				+media-xs()
					+col(12)
			&--10
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
#article_imgs_list
  display: block
#article_blocks_list
	margin-top: 52px
	display: block
	+media-md()
		margin-top: 40px
	+media-sm()
		margin-top: 32px
	+media-xs()
		margin-top: 22px
	.sticky
		position: fixed
		z-index: 101
		+media-xs()
			position: relative !important
			top: auto !important
			margin-bottom: 0px
	.stop
		position: relative
		z-index: 101
		.article_text
			&:last-child
				padding-bottom: 0
		+media-xs()
			position: relative !important
			top: auto !important
.article_text
	margin-bottom: 52px
	margin-top: 0 !important
	+media-md()
		margin-bottom: 40px
	+media-sm()
		margin-bottom: 32px
	+media-xs()
		margin-bottom: 22px
	ol
		padding-left: 0
		margin-left: 0px
		list-style-type: none
		counter-reset: num
		list-style-position: inside
		li
			list-style: decimal
			margin: 0
			margin-bottom: 15px
			font-size: 16px
			line-height: 22px
			color: #333
			list-style-type: none
			&:before
				counter-increment: num
				content: counter(num) '.'
				display: inline-block
				margin: 0
				line-height: 22px
				width: 20px
				height: 22px
				color: #333
				text-align: left
				font-weight: 700
				strong
					font-weight: 700
	.spec_ol
		li
			padding-left: 0
			&:before
				content: '[' counter(num) ']'
				text-align: left
				margin: 0 5px 0 0
				width: 28px
	h2
		text-align: left
		font-size: 25px
		margin: 0
		margin-bottom: 24px
		line-height: 32px
		letter-spacing: 0.01em
		color: $accent
		font-weight: 700
		+media-md()
			margin-bottom: 15px
		+media-xs()
			margin-bottom: 10px
	p
		margin: 0 0 15px
		font-size: 16px
		line-height: 22px
		color: #333
		+media-md()
			margin: 0 0 5px
		+media-sm()
			margin: 0 0 5px
		+media-xs()
			margin: 0 0 5px
		i
			font-weight: normal
		a
			color: $accent
			&:hover
				text-decoration: underline
.references
	margin-top: 52px !important		
.article_imgs
	margin-top: 15px
	+media-md()
		margin-top: 0px
	+media-sm()
		margin-top: 0px
	+media-xs()
		margin-top: 0px
	.img_block
		margin-top: 41px
		&:last-child
			margin-top: 41px
		+media-md()
			margin-top: 35px
		+media-sm()
			margin-top: 35px
		+media-xs()
			margin-top: 35px
		.img__imgwrap
			position: relative
			display: flex
			justify-content: center
			+media-xs()
				margin-top: 21px
			&:before
				content: ''
				position: absolute
				background: url(../img/design/zoom.svg) no-repeat
				bottom: 10px
				right: 10px
				width: 20px
				height: 20px
			.img__imgview
				display: flex
				align-items: center
				&:hover
					img
						transform: scale(1.02)
				img
					mix-blend-mode: multiply			
					transition: all 1s ease-out
.img__tit
	color: $accent
	line-height: 22px
	font-weight: 600
	font-size: 16px
	margin-bottom: 10px
.fancybox-slide--image.fancybox-content
	background: #ffffff
.fancybox-caption
	font-size: 22px
	line-height: 28px
	letter-spacing: .01em
	color: $accent
	font-weight: 700
	z-index: 1 !important	
	word-break:break-all
	margin-bottom: 50px
	&:before
		background-image: none
		background: #fff
		width: 50%
		height: 95%
		margin: auto
		position: absolute
		top: 0