@import "gmdjs"
@import "vars"
.article__type
	h1
		font-size: 2em
		color: #000000
		margin: 0
		margin-top: 9px
		margin-bottom: 10px
		br
			+media-md()
				display: none
			+media-sm()
				display: none
			+media-xs()
				display: none
.article__type
	.title_sub
		font-size: 13px
		color: #333
		line-height: 18px
		font-weight: 500
		br
			+media-md()
				display: none
			+media-sm()
				display: none
			+media-xs()
				display: none
.articles
	.container
		&__elem
			&--4
				+media-md()
					+col(5)
				+media-sm()
					+col(6)
				+media-xs()
					+col(12)
			&--6
				+media-md()
					+col(7)
				+media-sm()
					+col(6)
				+media-xs()
					+col(12)
			&--10
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
.article_table
	margin-top: 30px
	table
		border-collapse: collapse
		width: 100%
		thead
			border: 0
			border-top: 1px #000000 solid
			background: #F2F2F2
			tr
				border-top: 1px #000000 solid !important
				height: 118px !important
				.tr_none
					display: contents
			.sticky
				height: 118px !important
				position: fixed
				z-index: 101
				+media-md()
					position: relative !important
					top: auto !important
					margin-bottom: 0px
				+media-sm()
					position: relative !important
					top: auto !important
					margin-bottom: 0px
				+media-xs()
					position: relative !important
					top: auto !important
					margin-bottom: 0px
			.stop
				height: 118px !important
				position: relative
				z-index: 101
				th
					border: 0
					background: #F2F2F2
					padding: 38px 20px 45px
					color: #333333
					text-align: center
					&:nth-child(1)
						padding-left: 5px
						padding-right: 0
						min-width: 55px
						text-align: left
					&:nth-child(2)
						min-width: 130px
					&:nth-child(3)
						padding-left: 75px
						text-align: left
						min-width: 48%
					&:nth-child(4), &:nth-child(5)
						min-width: 170px
				+media-md()
					position: relative !important
					top: auto !important
				+media-sm()
					position: relative !important
					top: auto !important
				+media-xs()
					position: relative !important
					top: auto !important
		thead
			border: 0
			border-top: 1px #000000 solid
			background: #F2F2F2
			tr
				border-top: 1px #000000 solid !important
				height: 117px !important
				th
					border: 0
					background: #F2F2F2
					padding: 37px 20px 30px
					color: #333333
					text-align: center
					&:nth-child(1)
						padding-left: 10px
						padding-right: 0
						min-width: 50px
						text-align: left
						+media-md()
							min-width: 20px
						+media-sm()
							min-width: 20px
						+media-xs()
							min-width: 20px
					&:nth-child(2)
						min-width: 130px
						+media-md()
							min-width: 100px
						+media-sm()
							min-width: 100px
						+media-xs()
							min-width: 100px
					&:nth-child(3)
						padding-left: 75px
						text-align: left
						min-width: 48%
					&:nth-child(4), &:nth-child(5)
						min-width: 170px !important
						+media-sm()
							min-width: 100px
						+media-xs()
							min-width: 100px
		tbody
			width: 100%
			border: 0
			border-top: 1px solid #E0E0E0
			td
				border: 0
				padding: 10px 30px
				color: #333333				
				text-align: center
				background: #FFF
				&:nth-child(1)
					padding-left: 7px
					padding-right: 0
					z-index: 1
					min-width: 51px
					text-align: left
					+media-sm()
						min-width: 20px
					+media-xs()
						min-width: 20px
				&:nth-child(2)
					min-width: 130px
					+media-md()
						min-width: 100px
					+media-sm()
						min-width: 100px
					+media-xs()
						min-width: 100px
				&:nth-child(3)
					padding: 10px 20px
					text-align: left
					min-width: 48%					
					img
						+media-md()
							max-width: initial
						+media-sm()
							max-width: initial
						+media-xs()
							max-width: initial
				&:nth-child(4), &:nth-child(5)
					min-width: 170px !important
					padding: 10px 16px
					+media-md()
						min-width: 100px
					+media-sm()
						min-width: 100px
					+media-xs()
						min-width: 100px
			tr
				&:first-child
					td
						padding-top: 20px
			tr
				&:last-child
					td
						padding-bottom: 40px
		tfoot
			border-top: 1px #000000 solid
			border-bottom: 1px #000000 solid
			td
				border: 0
				background: #F2F2F2
				padding: 20px
				color: #333333
				text-align: center
.article_text
	margin-top: 52px
	+media-md()
		margin-top: 40px
	+media-sm()
		margin-top: 32px
	+media-xs()
		margin-top: 22px
	ol
		padding-left: 0
		margin-left: 0px
		list-style-type: none
		counter-reset: num
		list-style-position: inside
		li
			list-style: decimal
			margin: 0
			margin-bottom: 15px
			font-size: 16px
			line-height: 22px
			color: #333
			list-style-type: none
			&:before
				counter-increment: num
				content: counter(num) '.'
				display: inline-block
				margin: 0
				line-height: 22px
				width: 20px
				height: 22px
				color: #333
				text-align: left
				font-weight: 700
				strong
					font-weight: 700
	.spec_ol
		li
			padding-left: 0
			&:before
				content: '[' counter(num) ']'
				text-align: left
				width: 28px
				margin: 0 5px 0 0
	h2
		text-align: left
		font-size: 25px
		margin: 0
		margin-bottom: 24px
		line-height: 32px
		letter-spacing: 0.01em
		color: $accent
		font-weight: 700
		+media-md()
			margin-bottom: 15px
		+media-xs()
			margin-bottom: 10px
	p
		margin: 0 0 15px
		font-size: 16px
		line-height: 22px
		color: #333
		+media-md()
			margin: 0 0 5px
		+media-sm()
			margin: 0 0 5px
		+media-xs()
			margin: 0 0 5px
		i
			font-weight: normal
		a
			color: $accent
			&:hover
				text-decoration: underline
.article_imgs
	margin-top: 15px
	+media-md()
		margin-top: 0px
	+media-sm()
		margin-top: 0px
	+media-xs()
		margin-top: 0px
	.img_block
		margin-top: 41px
		+media-md()
			margin-top: 35px
		+media-sm()
			margin-top: 35px
		+media-xs()
			margin-top: 35px
	&__imgwrap
		position: relative
		display: flex
		justify-content: center
		+media-xs()
			margin-top: 21px
		&:before
			content: ''
			position: absolute
			background: url(../img/design/zoom.svg) no-repeat
			bottom: 10px
			right: 10px
			width: 20px
			height: 20px
	&__imgview
		display: flex
		align-items: center
		&:hover
			img
				transform: scale(1.05)
		img
			mix-blend-mode: multiply			
			transition: all 1s ease-out
.img__tit
	color: $accent
	line-height: 22px
	font-weight: 600
	font-size: 16px
	margin-bottom: 10px
.fancybox-slide--image .fancybox-content
	background: #ffffff
.fancybox-caption
	font-size: 22px
	line-height: 28px
	letter-spacing: .01em
	color: $accent
	font-weight: 700
	z-index: 1 !important	
	word-break: break-all
	margin-bottom: 0
	&:before
		background-image: none
		background: #fff
		width: 100%
		height: 100%
		margin: auto
		position: absolute
		top: 0