@import "gmdjs"
@import "vars"
.btn
	max-width: 166px
	height: 44px
	display: flex
	justify-content: center
	align-items: center
	border-radius: 37.7482px
	background-color: $accent
	font-size: 12px
	line-height: 16px
	letter-spacing: 1.18px
	text-transform: uppercase
	color: #fff
	&:hover
		background-color: lighten($accent,10%)
	&--foot
		background-color: #fff
		color: $accent
		width: 166px
		+media-sm()
			margin-bottom: 25px
		&:hover
			color: #fff
			background-color: darken(#fff,50%)
.header
	&__search
		display: flex
		align-items: center
		span
			font-weight: 700
			font-size: 10px
			line-height: 13px
			letter-spacing: 0.8px
			text-transform: uppercase
			color: $accent
			margin-right: 5px
	&__top
		height: 120px
		background-color: #fff
		.container
			height: 100%
			&__elem
				&--10
					+media-md()
						+col(12)
					+media-sm()
						+col(12)
					+media-xs()
						+col(12)
				&--offsetr1
					+media-md()
						margin-left: 15px !important
					+media-sm()
						margin-left: 15px !important
					+media-xs()
						margin-left: 15px !important
	&__bottom
		border-top: 4px solid $line
		height: 55px
		background-color: #fff
		box-sizing: border-box
		.container
			height: 100%
			&__elem
				&--2
					+media-xs()
						+col(6)
				&--7
					+media-md()
						+col(10)
					+media-sm()
						+col(10)
					+media-xs()
						+col(6)
				&--offsetr1
					+media-md()
						margin-left: 15px !important
					+media-sm()
						margin-left: 15px !important
					+media-xs()
						margin-left: 15px !important
.social
	display: flex
	a
		margin: 0 6px
		&:last-of-type
			margin-right: 0
		&:hover
			filter: invert(1)
.menu
	margin-top: -4px
	+media-xs()
		display: none
	ul
		display: flex
		+media-xs()
			flex-wrap: wrap
		li
			a
				margin-right: 83px
				font-size: 10px
				line-height: 13px
				font-weight: 700
				text-transform: uppercase
				letter-spacing: 0.8px
				color: #333
				display: flex
				position: relative
				padding-top: 17px
				border-top: 4px solid transparent
				+media-sm()
					margin-right: 30px
				&:before
					content: ''
					position: absolute
					top: -4px
					left: 0
					transition: .3s
					height: 4px
					width: 0
					background-color: transparent
				&:hover
					&:before
						content: ''
						position: absolute
						background-color: $accent
						width: 100%
.slider
	+media-md()
		padding: 25px 0
	&__span
		font-size: 20px
		font-weight: 500
		line-height: 26px
		color: #fff
		position: relative
		top: -12px
		+media-xs()
			top: 0
	h1
		font-weight: 600
		font-size: 42px
		line-height: 55px
		white-space: nowrap
		letter-spacing: 1.8px
		text-transform: uppercase
		color: #fff
		margin: 0
		margin-bottom: 29px
		+media-xs()
			font-size: 30px
			line-height: 34px
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after
	display: none
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after
	display: none
.swiper-pagination-bullet
	padding: 0
	height: auto
	line-height: initial
	font-size: 9px
	text-align: right
	background: none
	font-weight: 700
	padding-right: 15px
	line-height: 12px
	letter-spacing: 1.8px
	text-transform: uppercase
	color: rgba(255, 255, 255, 0.4)
	position: relative
	&:before
		content: ''
		position: absolute
		width: 10px
		top: 6px
		right: 0
		height: 1px
		background-color: rgba(255, 255, 255, 0.4)
.swiper-pagination-bullet-active
	background: none
	color: #fff
	padding-right: 27px
	font-size: 12px
	line-height: 16px
	&:before
		width: 21px
		background-color: #fff
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet
	margin: 11px 0
.swiper-container-vertical>.swiper-pagination-bullets
	right: 92px
.swiper-button-wrap
	right: 111px
	height: 123px
	top: 188px
	+media-sm()
		right: 91px
		top: 39px
.wentor
	height: 500px
	+media-sm()
		height: 200px
.interactive
	background: url(../img/design/bg.jpg) no-repeat center top
	height: 500px
	+media-md()
		height: auto
	+media-sm()
		height: auto
	+media-xs()
		height: auto
		padding: 20px 0
	.container
		height: 100%
		&__elem
			&--3
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
			&--8
				+media-md()
					+col(12)
					order: -1
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
					display: none
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
.shagi
	background: url(../img/design/shagi.jpg) no-repeat center top
	height: 250px
	box-sizing: border-box
	padding-top: 48px
	+media-md()
		height: auto
		padding-top: 25px
		padding-bottom: 25px
	+media-sm()
		height: auto
		padding-top: 25px
		padding-bottom: 25px
	+media-xs()
		height: auto
		padding-top: 25px
		padding-bottom: 25px
		background: $accent
	.container
		&__elem
			&--3
				+media-md()
					+col(4)
				+media-sm()
					+col(4)
				+media-xs()
					+col(12)
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
.shagi_item
	+media-xs()
		margin: 20px 0
	&--1
		margin-left: 16px
		+media-md()
			margin-left: 0
		+media-sm()
			margin-left: 0
		+media-xs()
			margin-left: 0
	&--2
		margin-left: 56px
		+media-md()
			margin-left: 0
		+media-sm()
			margin-left: 0
		+media-xs()
			margin-left: 0
	&--3
		margin-left: 95px
		+media-md()
			margin-left: 0
		+media-sm()
			margin-left: 0
		+media-xs()
			margin-left: 0
	&__title
		font-weight: 800
		font-size: 14px
		line-height: 18px
		letter-spacing: 1.18px
		text-transform: uppercase
		color: #fff
		margin-top: 13px
	&__txt
		margin-top: 13px
		font-weight: 400
		font-size: 14px
		line-height: 18px
		color: #fff
.services
	height: 400px
	background-color: #F2F2F2
	+media-lg()
		height: auto
		padding: 20px 0
	+media-md()
		height: auto
		padding: 20px 0
	+media-sm()
		height: auto
		padding: 20px 0
	+media-xs()
		height: auto
		padding: 20px 0
	.container
		height: 100%
.services_wrap
	background: url(../img/design/services_bg.jpg) no-repeat left top
	.container
		&__elem
			&--6
				+media-xs()
					+col(12)
.services_l
	+media-xs()
		margin-bottom: 20px
	&__txt
		font-size: 16px
		line-height: 24px
		color: #333333
		margin-bottom: 42px
		+media-md()
			margin-bottom: 20px
		+media-sm()
			margin-bottom: 20px
		+media-xs()
			margin-bottom: 20px
.services_r
	position: relative
	right: 15px
	display: flex
	align-items: center
	+media-lg()
		right: 0
	+media-md()
		right: 0
	+media-sm()
		right: 0
	+media-xs()
		right: 0
	img
		max-width: initial
		+media-lg()
			max-width: 100%
		+media-md()
			max-width: 100%
		+media-sm()
			max-width: 100%
		+media-xs()
			max-width: 100%
.section
	h2
		text-align: center
		font-weight: 700
		font-size: 25px
		line-height: 32px
		letter-spacing: 0.3px
		color: #333
		margin: 0
		margin-bottom: 54px
		&.services_l__title			
			letter-spacing: 1.01px
			line-height: 32px
			font-size: 25px
			color: #333
			text-align: left
			margin: 0
			font-weight: 700
			margin-bottom: 13px
			+media-md()
				line-height: 24px
				font-size: 20px
			+media-sm()
				line-height: 24px
				font-size: 20px
			+media-xs()
				line-height: 24px
				font-size: 20px
			br
				+media-md()
					display: none
				+media-sm()
					display: none
				+media-xs()
					display: none
.research
	box-sizing: border-box
	padding-top: 82px
	padding-bottom: 110px
	background-color: #fff
	+media-md()
		padding: 50px 0
	+media-sm()
		padding: 50px 0
	+media-xs()
		padding: 50px 0
.research_wrap
	display: flex
	+media-md()
		flex-wrap: wrap
		justify-content: center
	+media-sm()
		flex-wrap: wrap
		justify-content: center
	+media-xs()
		flex-wrap: wrap
		justify-content: center
.research_item
	width: 355px
	height: 332px
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15)
	transition: .3s
	margin: 0 32px
	+media-md()
		margin-bottom: 30px
	+media-sm()
		margin-bottom: 30px
	+media-xs()
		width: 320px
		margin: 0 15px
		margin-bottom: 30px
	&:hover
		.btn
			opacity: 1
		.research_item__bottom
			&:before
				content: ''
				position: absolute
				background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)
				height: 100%
				z-index: 1
				width: 100%
	&__top
		box-sizing: border-box
		height: 163px
		background-color: #fff
		display: flex
		align-items: center
		justify-content: center
	&__title
		font-weight: 700
		font-size: 16px
		line-height: 21px
		color: $accent
		letter-spacing: 1.08px
		text-transform: uppercase
		span
			font-weight: 700
			font-style: italic
	&__bottom
		position: relative
		box-sizing: border-box
		height: 169px
		&:before
			transition: .3s
		img
			position: absolute
			+media-xs()
				bottom: 0
		.btn
			opacity: 0
			position: absolute
			z-index: 1
			width: 166px
			bottom: 53px
			transition: .5s
			margin: 0 auto
			left: 0
			right: 0
.fimea_r
	margin-left: 91px
	margin-top: 95px
	+media-lg()
		margin-top: 62px
	+media-md()
		margin-top: 20px
	+media-sm()
		margin-top: 20px
		margin-left: 0
	+media-xs()
		margin-top: 20px
		margin-left: 0
	&__txt
		font-size: 16px
		line-height: 24px
		color: #333
		margin-top: 36px
		+media-md()
			margin-top: 15px
			margin-bottom: 15px
		+media-sm()
			margin-top: 15px
			margin-bottom: 15px
		+media-xs()
			margin-top: 15px
			margin-bottom: 15px
	&__imgs
		display: flex
		align-items: center
	&__img
		margin: 0 10px
		&:first-of-type
			margin-left: 0
		img
			mix-blend-mode: multiply
.fimea_l
	position: relative
	display: flex
	align-items: center
	img
		max-width: initial
		+media-lg()
			max-width: 100%
		+media-md()
			max-width: 100%
		+media-sm()
			max-width: 100%
		+media-xs()
			max-width: 100%
.fimea
	background-color: #F2F2F2
.fimea_wrap
	background: url(../img/design/fimea_bg.jpg) no-repeat right top
	.container
		&__elem
			&--6
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
.partners
	box-sizing: border-box
	padding-top: 63px
	padding-bottom: 69px
	background-color: #fff
.partnes_massive
	display: flex
	justify-content: space-around
	align-items: center
	margin-top: -20px
	+media-md()
		flex-wrap: wrap
	+media-sm()
		flex-wrap: wrap
	+media-xs()
		flex-wrap: wrap
.partner_item
	display: flex
	flex-direction: column
	+media-md()
		margin: 0 30px
	+media-xs()
		margin: 0 30px
	&:hover
		.partner_item__name
			opacity: 1
		.partner_item__line
			opacity: 1
		.partner_item__img
			img
				opacity: 1
	&__img
		display: flex
		justify-content: center
		align-items: center
		height: 90px
		img
			opacity: .8
			filter: grayscale(1)
	&__line
		opacity: 0
		height: 1px
		width: 100%
		transition: .3s
		background-color: #F2F2F2
	&__name
		opacity: 0
		transition: .3s
		font-size: 11px
		line-height: 14px
		text-align: center
		margin-top: 14px
		color: #333
.foot
	height: 337px
	+media-lg()
		height: auto
	+media-md()
		height: auto
	+media-sm()
		height: auto
	+media-xs()
		height: auto
	.container
		height: 100%
	&__wraps
		display: flex
		align-items: center
		justify-content: space-between
		margin-left: 61px
		+media-lg()
			margin-left: 0
			flex-wrap: wrap
		+media-md()
			margin-left: 0
			flex-wrap: wrap
		+media-sm()
			margin-left: 0
			flex-wrap: wrap
		+media-xs()
			margin-left: 0
			flex-wrap: wrap
	&__bottom
		margin-top: 29px
		+media-lg()
			margin-bottom: 29px
		+media-md()
			margin-bottom: 29px
		+media-sm()
			margin-bottom: 29px
		+media-xs()
			margin-bottom: 29px
		.container
			&__elem
				&--4
					+media-lg()
						+col(6)
					+media-md()
						+col(6)
					+media-sm()
						+col(6)
					+media-xs()
						+col(12)
				&--7
					+media-lg()
						+col(6)
					+media-md()
						+col(6)
					+media-sm()
						+col(6)
					+media-xs()
						+col(12)
				&--offsetr1
					+media-lg()
						margin-left: 15px !important
					+media-md()
						margin-left: 15px !important
					+media-sm()
						margin-left: 15px !important
					+media-xs()
						margin-left: 15px !important
	&__links
		margin-top: 7px
		color: #fff
		a
			color: #fff
			font-size: 13px
			line-height: 19px
			font-weight: 700
			&:hover
				text-decoration: underline
	&__txt
		font-weight: 500
		font-size: 16px
		line-height: 24px
		color: #fff
		+media-lg()
			margin-bottom: 20px
		+media-md()
			margin-bottom: 20px
		+media-sm()
			margin-bottom: 20px
		+media-xs()
			margin-top: 20px
			margin-bottom: 20px
		br
			+media-lg()
				display: none
			+media-md()
				display: none
			+media-sm()
				display: none
			+media-xs()
				display: none
	&__text
		font-size: 13px
		line-height: 19px
		color: #fff
		font-weight: 300
	&__top
		height: 207px
		box-sizing: border-box
		border-bottom: 1px solid rgba(242, 242, 242, 0.5)
		.container
			&__elem
				&--6
					+media-sm()
						+col(8)
					+media-xs()
						+col(12)
				&--5
					+media-lg()
						+col(6)
					+media-md()
						+col(6)
					+media-sm()
						+col(4)
					+media-xs()
						+col(12)
				&--offsetr1
					+media-lg()
						margin-left: 15px !important
					+media-md()
						margin-left: 15px !important
					+media-sm()
						margin-left: 15px !important
					+media-xs()
						margin-left: 15px !important
.foot_wrap
	background: url(../img/design/footer_bg.jpg) no-repeat center top
	height: 100%
	+media-lg()
		background-position: center center
	+media-md()
		background-position: center center
	+media-sm()
		background-position: center center
	+media-xs()
		background-position: center center
.bottom_menu
	width: 100%
	ul
		justify-content: space-around
		display: flex
		li
			a
				color: #fff
				font-weight: 700
				text-transform: uppercase
				letter-spacing: 1.8px
				font-size: 10px
				line-height: 13px
				+media-sm()
					margin: 0 0 0 25px
				+media-xs()
					margin: 0 0 0 0px
				&:hover
					text-decoration: underline