@import "gmdjs"
@import "vars"
.product_full
	.actionFormItemsWrapes__checkbox .checkbox-inline span
		font-size: 12px
	.actionFormItemsWrapes__checkbox span
		min-width: initial
		padding: 0 8px
		height: 28px
		box-sizing: border-box
.product
	margin-top: 39px
	.container
		&__elem
			&--3
				+media-md()
					+col(6)
				+media-sm()
					+col(6)
				+media-xs()
					+col(12)
			&--4
				+media-md()
					+col(6)
				+media-sm()
					+col(6)
				+media-xs()
					+col(12)
			&--5
				+media-md()
					+col(6)
				+media-sm()
					+col(6)
				+media-xs()
					+col(12)
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
	&__imgwrap
		background-color: #F9F9F9
		position: relative
		display: flex
		justify-content: center
		height: 322px
		+media-xs()
			margin-top: 21px
		&:before
			content: ''
			position: absolute
			background: url(../img/design/zoom.svg) no-repeat
			bottom: 10px
			right: 10px
			width: 20px
			height: 20px
	&__imgview
		display: flex
		align-items: center
		&:hover
			img
				transform: scale(1.05)
		img
			mix-blend-mode: multiply			
			transition: all 1s ease-out
	&__wr1
		display: flex
		align-items: center
		&--fix
			margin-top: 22px
			a,button
				border: none
				cursor: pointer
				margin-left: 27px
				width: 153px
			button
				&[disabled]
					background-color: #E0E0E0
	&__wr
		display: flex
		margin-bottom: 21px
		+media-sm()
			flex-wrap: wrap
		+media-xs()
			flex-wrap: wrap
		&--fix
			padding-bottom: 20px
			border-bottom: 1px solid #E0E0E0
	&__title
		font-size: 14px
		line-height: 21px
		color: #333
	&__param
		font-weight: 700
		font-size: 17px
		line-height: 25px
		color: #333
		img
			margin-top: 5px
	&__it
		margin-right: 44px
	&__tit
		font-size: 14px
		line-height: 21px
		color: #333
		margin-right: 14px
	h1
		font-weight: 800
		font-size: 26px
		line-height: 34px
		margin: 0
		letter-spacing: 0.01em
		color: #333
		margin-bottom: 21px
	.catalog_item
		margin: 0
		width: auto
		+media-xs()
			margin: 10px 0 20px
		&:hover
			opacity: 1
			.catalog_item__ico
				transform: scale(1)
		&__ico
			height: 322px
			+media-md()
				background-size: contain
			+media-sm()
				background-size: contain
			+media-xs()
				background-size: contain
.actionFormItemsWrapesWrap
	display: flex
	align-items: center
	+media-sm()
		flex-wrap: wrap
	+media-xs()
		flex-wrap: wrap
.actionFormItemsWrapes
	&__checkbox
		margin: 0 2.5px
		+media-sm()
			margin-top: 5px
			margin-bottom: 5px
		span
			color: #BDBDBD
			font-weight: 700
			font-size: 13px
			min-width: 74px
			height: 30px
			display: flex
			justify-content: center
			border-radius: 33px
			align-items: center
			text-align: center
			border: 1px solid #E0E0E0
			// &.zapolneno
			// 	display: none
			// 	border: 1px solid #333
			// 	color: #333
			// &.pusto
			// 	display: flex
		input
			&:not(:checked)
				+ label
					>.pusto
						color: #BDBDBD
						border: 1px solid #E0E0E0
			&:checked
				+ label
					span
						&.pusto
							// display: none
							border: 1px solid #333
							color: #333
						// &.zapolneno
						// 	display: flex
		.check
			display: none
		.checkbox-inline
			display: flex
			align-items: center
			cursor: pointer
			font-size: 16px
			span
				font-size: 13px
			a
				text-decoration: underline
				transition: .3s
				font-size: 13px
				color: #1227c1
				&:hover
					text-decoration: none
.product_text
	margin-top: 52px
	ol
		padding-left: 16px
		margin-left: 0px
		li
			list-style: decimal
			margin: 0
			font-size: 16px
			line-height: 22px
			color: #333
			margin-bottom: 15px
			strong
				font-weight: 700
	h2
		text-align: left
		font-size: 25px
		margin: 0
		margin-bottom: 24px
		line-height: 32px
		letter-spacing: 0.01em
		color: $accent
		font-weight: 700
	p
		margin: 0
		font-size: 16px
		line-height: 22px
		color: #333
.product_fon
	box-sizing: border-box
	padding: 34px 40px
	background-color: #F9F9F9
	height: 470px
	+media-md()
		height: auto
	+media-sm()
		height: auto
	+media-xs()
		height: auto
		margin-bottom: 30px
	h2
		text-align: left
		font-size: 25px
		line-height: 32px
		margin-bottom: 25px
		letter-spacing: 0.01em
		color: $accent
		font-weight: 700
	ol
		margin: 0
		padding: 0
		padding-left: 16px
		li
			font-size: 16px
			line-height: 21px
			color: $accent
			list-style: decimal
			font-weight: 700
			margin-bottom: 13px
			span
				font-weight: normal
				color: #333
.product_fon_snoska
	font-size: 13px
	color: #333
	display: flex
	margin-top: 11px
	justify-content: center
	line-height: 18px
	font-weight: 500
	br
		+media-md()
			display: none
		+media-sm()
			display: none
		+media-xs()
			display: none
.product_zag
	margin-right: 12px
	text-align: right
	font-size: 13px
	line-height: 18px
	color: #333
	font-weight: 300
	margin-bottom: 13px
.product_item
	border-top: 1.34276px solid #E0E0E0
	display: flex
	height: 119px
	transition: .3s
	+media-md()
		height: auto
	+media-sm()
		flex-direction: column
		height: auto
		align-items: center
	+media-xs()
		flex-direction: column
		height: auto
		align-items: center
	&:hover
		border-top: 1.34276px solid #333333
	&__options
		box-sizing: border-box
		padding: 20px 0
		.product__wr1
			position: relative
			left: 30px
			justify-content: space-between
			+media-sm()
				left: 0
			+media-xs()
				left: 0
			&--fix
				margin-top: 17px
				button
					&.btn
						font-size: 9.56924px
						line-height: 12px
						font-weight: 700
						margin-left: 0
						position: relative
						left: -2px
						letter-spacing: 0.08em
						width: 146px
						height: 35px
	&__title
		font-size: 18px
		line-height: 23px
		font-weight: 800
		letter-spacing: 0.01em
		color: #333
		margin-bottom: 10px
	&__l
		display: flex
		flex-direction: column
		width: 338px
		justify-content: center
		+media-md()
			width: 33%
			padding: 20px 0
		+media-sm()
			width: 100%
			padding: 20px 0
		+media-xs()
			width: 100%
			padding: 20px 0
	&__txt
		font-weight: 500
		font-size: 13px
		line-height: 16px
		color: #333
	&__img
		width: 245px
		display: flex
		align-items: center
		justify-content: center
		background-color: #F9F9F9
		position: relative
		&:before
			content: ''
			position: absolute
			background: url(../img/design/zoom.svg) no-repeat
			bottom: 10px
			right: 10px
			width: 20px
			height: 20px
		a
			display: flex
			align-items: center
			&:hover
				img
					transform: scale(1.05)
		img
			mix-blend-mode: multiply
			transition: all 1s ease-out
.product_full
	.container
		&__elem
			&--3
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
			&--7
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)