@import "gmdjs"
@import "vars"
.header
	&__search
		&--other
			span
				color: #fff
	&__bottom
		&--other
			background-color: $accent
			border-top: 4px solid $accent
			.bar
				i
					background: #fff
					&:before
						background: #fff
					&:after
						background: #fff
			.menu
				ul
					li
						a
							color: #fff
							&:hover
								&:before
									background-color: rgba(255, 255, 255, 0.8)
.breadcrumbs
	.container
		&__elem
			&--10
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
	ul
		display: flex
		align-items: center
		li
			font-size: 10px
			line-height: 13px
			margin: 0 2px
			text-transform: uppercase
			color: #333
			a
				font-size: 10px
				line-height: 13px
				letter-spacing: 0.08em
				text-transform: uppercase
				color: #BDBDBD
.catalog_top
	.container
		&__elem
			&--2
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
			&--8
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
	h2
		text-align: left
		font-size: 25px
		line-height: 32px
		letter-spacing: 0.01em
		color: $accent
		margin-bottom: 0
		+media-md()
			margin-bottom: 30px
		+media-sm()
			margin-bottom: 30px
		+media-xs()
			margin-bottom: 30px
.catalog_hr
	margin: -9px 0 54px
	+media-sm()
		margin: 0px 0 30px
	.container
		&__elem
			&--10
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
	&__hr
		border-bottom: 1px solid #E0E0E0
.catalog_wrap
	display: flex
	+media-lg()
		flex-wrap: wrap
	+media-md()
		flex-wrap: wrap
		justify-content: center
	+media-sm()
		flex-wrap: wrap
		justify-content: center
	+media-xs()
		flex-wrap: wrap
		justify-content: center
.catalog_item
	width: 299px
	margin-right: 30px
	margin-bottom: 30px
	+media-sm()
		margin-right: 0px
	+media-xs()
		margin-right: 0px
	&:hover
		opacity: .5
		.catalog_item__ico
			transform: scale(1.05)
	&:nth-child(3n)
		margin-right: 0
	span
		display: flex
	&__icowr
		background-color: #F2F2F2
	&__ico
		background-repeat: no-repeat
		background-position: center
		width: 100%
		transition: all 1s ease-out
		mix-blend-mode: multiply
		background-size: cover
		height: 285px
	&__title
		font-size: 18px
		line-height: 25px
		color: $accent
		font-weight: 700
		padding-top: 21px
	&__txt
		font-size: 14px
		line-height: 20px
		color: #333
		padding-top: 4px