@import "gmdjs"
@import "vars"
.services1_img
	background-repeat: no-repeat
	background-position: center top
	background-size: cover
	height: 400px
	margin-top: 31px
	.container
		height: 100%
.serv_utp
	font-weight: 600
	font-size: 42px
	line-height: 55px
	letter-spacing: 0.04em
	text-transform: uppercase
	color: #fff
.services1_content
	padding-top: 71px
	.container
		&__elem
			&--5
				+media-md()
					+col(12)
				+media-sm()
					+col(12)
				+media-xs()
					+col(12)
			&--aifend
				+media-md()
					align-items: center
				+media-sm()
					align-items: center
				+media-xs()
					align-items: center
			&--offsetr1
				+media-md()
					margin-left: 15px !important
				+media-sm()
					margin-left: 15px !important
				+media-xs()
					margin-left: 15px !important
.services1
	&__topzag
		font-weight: 600
		font-size: 16px
		line-height: 24px
		color: #333
		margin-bottom: 46px
	&__txt
		font-weight: 400
		font-size: 16px
		line-height: 24px
		color: #333
	&__txt1
		font-weight: 400
		margin-left: 44px
		font-size: 16px
		line-height: 24px
		color: #333
		+media-xs()
			margin-left: 0
.services1_icon_item_wrap
	margin-top: 9px
.services1_icon_item
	display: flex
	align-items: center
	height: 116px
	box-sizing: border-box
	+media-lg()
		height: 140px
	+media-xs()
		height: auto
		flex-wrap: wrap
		padding: 20px 0
	&:last-of-type
		.services1_icon_item__txt
			border-bottom: none
	&__ico
		min-width: 55px
		height: 55px
		border-radius: 100%
		background-color: $accent
		display: flex
		align-items: center
		justify-content: center
		+media-xs()
			margin-bottom: 30px
		img
	&__txt
		border-bottom: 2px solid #E0E0E0
		height: 100%
		display: flex
		width: 100%
		flex-direction: column
		justify-content: center
		margin-left: 20px
		font-weight: 800
		font-size: 16px
		line-height: 21px
		color: #333
		letter-spacing: 0.01em
		+media-xs()
			margin-left: 0
			font-size: 14px
			line-height: 16px
			border-bottom: none
		ul
			margin-top: 7px
			padding-left: 15px
			li
				list-style: disc
				font-weight: 500
				font-size: 14px
				line-height: 20px
				color: #333
		span
			display: flex
.feedback
	width: 539px
	height: 533px
	box-sizing: border-box
	padding: 41px 44px 41px 49px
	background-color: #F2F2F2
	margin-top: 35px
	+media-lg()
		width: auto
		padding: 20px
		height: auto
	+media-xs()
		width: auto
		padding: 20px
		height: auto
	button
		border: none
		background: $accent
		height: 44px
		width: 153px
		border-radius: 37.75px
		color: #fff
		cursor: pointer
		text-transform: uppercase
		font-weight: 700
		font-size: 12px
		line-height: 16px
		letter-spacing: 0.08em
		&:hover
			background-color: lighten($accent,10%)
.feedback_item_wrap
	display: flex
	justify-content: space-between
	+media-xs()
		flex-direction: column
.feedback_item
	display: flex
	flex-direction: column
	margin-bottom: 20px
	&--fix
		input
			width: 100% !important
			+media-xs()
				width: 201px !important
	label
		font-weight: 300
		font-size: 13px
		line-height: 18px
		color: #333
		margin-bottom: 6px
	input
		box-sizing: border-box
		border-radius: 3px
		border: 1px solid #E0E0E0
		height: 39px
		font-family: $font
		padding-left: 20px
		font-weight: 400
		width: 201px
		+media-lg()
			width: 80%
	textarea
		resize: none
		padding-left: 20px
		padding-top: 10px
		font-family: $font
		font-weight: 400
		border-radius: 3px
		border: 1px solid #E0E0E0
		max-height: 128px
		box-sizing: border-box
		+media-xs()
			width: 201px