@import "gmdjs"
@import "vars"
.another_bg
	background-color: #F2F2F2
	height: 400px
	margin-top: 31px
	+media-lg()
		height: auto
	+media-md()
		height: auto
	+media-sm()
		height: auto
	+media-xs()
		height: auto
.staff
	.container
		&__elem
			&--6
				+media-md()
					+col(12)
					justify-content: center
					display: flex
				+media-sm()
					+col(12)
					justify-content: center
					display: flex
				+media-xs()
					+col(12)
					justify-content: center
					display: flex
	&__img
		display: flex
		align-items: center
	&__bg
		background: url(../img/design/rect.png) no-repeat right top
		height: 100%
		display: flex
		align-items: center
	&__txt2
		height: 301px
		position: relative
		top: 14px
		margin-left: 94px
		+media-sm()
			height: auto
			top: 0
		+media-xs()
			height: auto
			margin-left: 0
			top: 0
	&__txt1
		font-size: 16px
		position: relative
		top: 14px
		margin-left: 40px
		line-height: 22px
		color: #333
		width: 204px
		font-weight: 400
		height: 301px
		+media-sm()
			height: auto
			margin-left: 0
			top: 0
		+media-xs()
			top: 0
			width: auto
			height: auto
			margin-left: 0
			margin-right: 30px
.staff_item
	display: flex
	flex-direction: column
	margin-bottom: 14px
	+media-sm()
		margin-bottom: 7px
		margin-top: 7px
	+media-xs()
		margin-bottom: 7px
		margin-top: 7px
	strong
		font-weight: 800
		font-size: 16px
		line-height: 21px
		letter-spacing: 0.01em
		color: #333
		margin-bottom: 1px
	span
		font-size: 14px
		line-height: 20px
		color: #333