@import "gmdjs"
// @import "styles/grid"
// @import "styles/training"
@import "fonts"
@import "libs"
@import "vars"
// @import "section"
option,select
	outline: none
a
	text-decoration: none
	outline: none
	transition: .3s
	color: inherit
img
	max-width: 100%
input,textarea,button
	outline: none
ul
	list-style: none
	padding: 0
	margin: 0
li
	list-style: none
html
	font-size: 15px
body
	position: relative
	min-width: 320px
	margin: 0
	font-family: $font
	font-weight: 400
	background-color: $accent
.container
	+grid()
	+media-lg()
		+grid(fluid)
	+media-md()
		+grid(fluid)
	+media-sm()
		+grid(fluid)
	+media-xs()
		+grid(fluid)
	&--reset
		margin-left: -15px
		margin-right: -15px
		+media-lg()
			margin: 0
		+media-md()
			margin: 0
		+media-sm()
			margin: 0
		+media-xs()
			margin: 0
	&__elem
		+col()
		&--1
			+col(1)
		&--2
			+col(2)
		&--3
			+col(3)
		&--4
			+col(4)
		&--5
			+col(5)
		&--6
			+col(6)
		&--7
			+col(7)
		&--8
			+col(8)
		&--9
			+col(9)
		&--10
			+col(10)
		&--11
			+col(11)
		&--12
			+col(12)
		&--df
			display: flex
		&--rel
			position: relative
		&--fdc
			flex-direction: column
		&--jcc
			justify-content: center
		&--jcfend
			justify-content: flex-end
		&--jcsb
			justify-content: space-between
		&--aic
			align-items: center
		&--aifend
			align-items: flex-end
		&--offsetr2
			+offset(right,2)
		&--offsetr1
			+offset(right,1)
#search-popup
	position: fixed
	background: #FFF
	padding: 20px
	box-sizing: border-box
	width: 100%
	height: 100%
	top: 0
.poisk a.close
	text-transform: uppercase
	letter-spacing: 1px
	color: #bbb
	float: right
	display: flex
	align-items: center
	.close1
		fill: #bbb
		margin-left: 10px
.poisk a.close i
	font-size: 20px
.poisk .clearb
	clear: both
.poisk .search
	padding-top: 140px
.poisk .search__wrap
	position: relative
	display: flex
.poisk .search__input
	width: 100%
	color: #000
	border: 3px solid #e9e9e9
	border-radius: 4px
	padding: 14px 65px 15px 25px
	font-size: 24px
	outline: 0
	+media-xs()
		font-size: 14px
.poisk .search__wrap .search1
	position: absolute
	right: 29px
	font-size: 30px
	top: 19px
	color: #e9e9e9
	transform: scale(-1,1)	
	+media-xs()
		top: 14px
.mfp-container
	padding: 0
.swiper-container
  width: 100%
  height: 100%
.swiper-button-next,.swiper-button-prev
	position: initial
.swiper-slide
  text-align: center
  font-size: 18px
  display: flex
  justify-content: center
  align-items: center
.swiper-pagination
  position: absolute
  top: 10px
  right: 10px
  width: auto !important
  left: auto !important
  margin: 0
.swiper-pagination-bullet
  padding: 5px 10px
  border-radius: 0
  width: auto
  height: 30px
  text-align: center
  line-height: 30px
  font-size: 12px
  color: #000
  opacity: 1
  background: rgba(0, 0, 0, 0.2)
.swiper-button-prev
	transform: rotate(90deg)
	height: 20px
	width: 20px
.swiper-container-vertical>.swiper-pagination-bullets
	top: 50%
.swiper-button-next
	margin-top: auto
	width: 20px
	height: 20px
	transform: rotate(90deg)
.swiper-button-wrap
	position: absolute
	right: 29px
	height: 90%
	top: 18px
	width: 20px
	display: flex
	flex-direction: column
.swiper-pagination-bullet-active
  color: #fff
  background: #007aff
.bar
	display: none
	+media-xs()
		display: block
		float: left
		width: 18px
		height: 45px
		position: relative
		cursor: pointer
	i
		display: block
		position: absolute
		top: 50%
		left: 0
		height: 2px
		width: 100%
		margin-top: -1px
		background: #000
		&:after
			top: -5px
			content: ''
			position: absolute
			left: 0
			height: 2px
			width: 100%
			background: #000
		&:before
			top: 5px
			content: ''
			position: absolute
			left: 0
			height: 2px
			width: 100%
			background: #000
.mmenu.collapsed
	opacity: 0
	z-index: -1
	+ .mmenu-container
		left: -275px
.mmenu-top
	height: 60px
.mmenu-container
	width: 100%
	left: 0
	top: 0
	max-width: 270px
	background: #fff
	position: fixed
	z-index: 1001
	transition: all .3s ease-out
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.18)
	.close
		display: block
		height: 100%
		width: 45px
		float: right
		background: #fff url(../img/design/x1.svg) center no-repeat
		cursor: pointer
.mmenu-top-logo
	height: 54px
	margin-right: 45px
	padding-top: 5px
	border-bottom: #e1e1e1 solid 1px
	a
		display: block
		height: 49px
		margin: 0 15px
		background-image: url(../img/design/logo.svg)
		background-repeat: no-repeat
		background-position: center
		background-size: contain
.mmenu-center
	padding: 20px
	border-bottom: #e1e1e1 solid 1px
	ul
		li
			margin-bottom: 10px
			&:last-of-type
				margin-bottom: 0
			a
				text-transform: uppercase
				display: block
				font-size: 26px
				line-height: 35px
.mmenu-bottom
	padding: 20px
	display: flex
	flex-direction: column
	align-items: center
	a
		font-weight: 700
		+ a
			display: block
			margin-top: 5px
	span
		display: block
		margin-top: 10px
.main
	background-color: #fff
	padding-top: 31px
	padding-bottom: 78px
	h1
		margin: 0
		margin-top: 9px
		margin-bottom: 10px
/*index*/
@import "index"
/*index*/
/*products*/
@import "products"
/*products*/
/*product*/
@import "product"
/*product*/
/*staff*/
@import "staff"
/*staff*/
/*services*/
@import "services"
/*services*/
/*articles type1*/
@import "articles_type1"
/*articles type1*/
/*articles type2*/
@import "articles_type2"
/*articles type2*/
/*articles type3*/
@import "articles_type3"
/*articles type3*/
@import "media"